[Desktop Entry]
Version=1.0
Type=Application
Name=Unity UNITY_VERSION
Icon=/opt/Unity/unity-editor-icon.png
Exec=/opt/Unity/UNITY_VERSION/Editor/Unity %U
NoDisplay=false
Categories=Application;Development;IDE;
MimeType=x-scheme-handler/com.unity3d.kharma;
StartupNotify=true
Terminal=false
